// Custom Variables
$body-bg: #F5F5F5;
$light: #F5F5F5;
$dark: #0C090D;
$primary: #3E6259;
$secondary: #617073;
$danger: #EA2B1F;
$success: #537A5A;




// Import Bootstrap core styles
@import "../node_modules/bootstrap/scss/bootstrap";
